mixin s-about()
	// start s-about
	+b.SECTION.s-about.section.lazy-background#s-about&attributes(attributes)
		.container
			+b.section-title
				h2 О компании «С-Проджект»
				
			.row
				.col-lg-6
					p Проектное бюро С-Проджект более 10-ти лет оказывает свои услуги по&nbsp;разработке и&nbsp;согласованию Проектов производства работ (ППР), Проектов организации строительства (ПОС), Проектов организации дорожного движения (ПОДД), дорог, инженерных сетей для Москвы,Санкт-Петербурга и&nbsp;других регионов России.

					p Огромный опыт работы и&nbsp;успешное участие компании в&nbsp;проектировании уникальных объектов гарантирует нашим заказчикам качественно разработанную документацию в&nbsp;кратчайшие сроки. Несмотря на&nbsp;это, стоимость разработки ППР у&nbsp;нас выгодно отличается от&nbsp;стоимости подобных работ в&nbsp;других компаниях. Также, Вас приятно удивят сроки разработки проектов ППР, ПОС и&nbsp;ПОДД: от&nbsp;2-х дней! Заказать ППР, ПОС, ПОДД, ППРк, Обследование или Проекты дорог и&nbsp;быстро! Доставим проект в&nbsp;любое удобное для Вас место совершенно бесплатно!
				.col
					+e.video(href="//www.youtube.com/watch?v=erLk59H86ww" data-bg="//i3.ytimg.com/vi/erLk59H86ww/0.jpg" data-fancybox="gallery3")
						+e.play
	// end s-about