mixin s-rews()
	// start s-rews
	+b.SECTION.s-rews.section#s-rews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Отзывы о нашей работе
				
			+e.slider--js.lazy-background
				- for (var x = 0; x < 5; x++)
					+e.slide
						+e.img-wrap(href="img/@2x/rew.jpg" data-fancybox="gallery")
							img.object-fit-js.res-i(src="#" data-lazy="img/@2x/rew.jpg", alt="")
					//- +pic(`rew`)
					
	// end s-rews