mixin s-type-of-work()
	// start s-type-of-work
	+b.SECTION.s-type-of-work.section.lazy-background#s-type-of-work&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-type-of-work
				
			.row
	// end s-type-of-work