.top-nav {
	background-color: #66ab18;
	&__nav{
		// @extend .container;
		display: flex;
		list-style-type: none;
		justify-content: space-between;
		// flex-direction: column;
		// @extend .row;
		// @include roww(10);
		margin-left: -10px;
		margin-right: -10px;
		text-transform: uppercase;

		margin-bottom: 0;
	} 
	&__link{
		color: #ffffff;
		font-size: $small;
		font-weight: 600;
		text-decoration: none !important;
		line-height: 1.14;
		font-family: $Gilroy;
		padding: rem(22) rem(10) rem(20);
		display: block;
		&:hover{
			color: #2d4d0a;
		}
		.icon{
			font-size: rem(16);
		}
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {
		display: block;
	}
	display: none;

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

// мобильное меню

// мобильное меню
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 14;
	// margin-top: 15px;
	margin-left: 0;
	position: relative;
	z-index: 999 !important;
	right: 0;
	padding: 3px;
	border-radius: 5px;
	top: $h;


	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		top: $h*2;
	}

	span:after {
		top: $h * 4;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		font-size: 28px;
		width: 1em;
		height: $h;
		background-color: $primary;
		transition: all 0.3s;
		backface-visibility: hidden; 
	}

	&.on {
		opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		transform: rotate(45deg) translate(em(-1), 0px);
	}

	&.on span:after {
		transform: rotate(-45deg) translate(em(3), em(-4));
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: 101vh;
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(100%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #66ab18;
		padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		
	}
			a {
				// font-size: 16px;
				border-top: 1px solid rgba(255, 255, 255, .13);
				color: #ffffff !important;
				padding: 10px;
				display: block;
				.icon{
					font-size: 1rem;
				}
				text-transform: uppercase;
			}
}