mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container 
			.row
				.col-lg-5.col-xl-6
					+pic("head-img.png",'','')
				.col
					h1 Профессиональная разработка проектов ПОДД, КСОДД и ТС
					+e.sub-title Выгодная цена и&nbsp;гарантия согласования 100%
					.h6 С 2006 года проектируем:
					p ОДД, проекты дорог и&nbsp;въездов, примыкания для объектов любого назначения
					+e.btn.link-modal(href="#") Бесплатная консультация
	// end header-block