mixin s-contact()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact&attributes(attributes)
		.container.lazy-background
			.row
				+e.col.col-lg-6.order-lg-last
					+e.inner
						+b.section-title
							h2 Остались вопросы или&nbsp;сомнения? Позвоните нам!
						+e.addr Москва, Алтуфьевское ш., д. 48, корпус 1
						+e.tel(href="tel:+8(495)971-39-71") +8 (495) 971-39-71
						.small Работаем Пн-Пт: 9:30&nbsp;&mdash; 19:00. Сб, Вс&nbsp;&mdash; выходной
						+e.btn.link-modal(href="#") Проконсультироваться
				.col-lg-6
					+e.map-wrap
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa46d36a32ecc0c25fdc80589f2aa613bfc2e2e5dcc61555f196c40d506d048c3&amp;source=constructor" ></iframe>
	// end s-contact