.s-contact {
	padding-bottom: 0;
	&__map-wrap{
		@include block(540,450);
		min-height: 100%;
		@include media-breakpoint-up(lg) {

			max-width: rem(540);
		}
		> * {
			position: absolute;
			top: 0;
			@include media-breakpoint-up(lg) {
				
				width: 100% !important;
				left: 0;

				transform: none;
				// margin-top: 0;
			}
			// margin-top: rem(30);
			left: 50%;
			transform: translateX(-50%);
			width: 100vw !important;
			height: 100% !important;
		}
	}
	&__inner{
		@include media-breakpoint-up(xl) {

			margin-left: rem(-22);
			padding-top: rem(48);
		}
		// padding-left: 0;
	}
	h2{
		line-height: 1.25;
		margin-bottom: 0;
	}
	&__addr{
		@extend h6;
		font-weight: normal;
		margin-bottom: 0;
	}
	&__tel{
		@extend .text-body;
		text-decoration: none !important;
		@include rfs(rem(48));
		display: inline-block;
		margin-bottom: em(2);
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		width: rem(302);
		margin-top: rem(40);
		margin-bottom: rem(30);
	}
	.container{
		position: relative;
		@include media-breakpoint-up(lg) {

			&::before{
				content: url(../img/@2x/contact-before.png);
				position: absolute;
				right: 95%;
				top: rem(-220);
			}
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {
		text-align: left;
	}
	text-align: center;
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}